/* Space out content a bit */
@font-face {
    font-family: soupfont;
    src: url(DINNextLTPro-Medium.ttf);
}

body * {
    font-family: soupfont;
}

body {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0px;
  background: #231f20 url("../images/background-new.png") no-repeat 50% 0;
  /* 
  overflow-x: hidden;
  min-height: 100%;
  */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.wf-menu-side {
    /*
    position: fixed;
    top: 240px;
    left: 20px;
    */
    width: 100%;
    margin: 0 auto;
}

.wf-menu-side li {
  float: left;
  width: 50%;
  margin: 0 auto;
}

.wf-menu-side li a {
    margin: 2px auto;
    padding-top: 13px;
    width: 136px;
    height: 44px;
    /*background: transparent url("../images/nav-background.png") no-repeat 0 0;*/
    background: red url("../images/nav-background.png") no-repeat center center;
    text-align: center;
    color: #293108;
}

.wf-menu-side li a:hover {
    background-color: transparent;
    opacity: 0.9;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

body .header, body .footer, body .jumbotron {
    border: 0 !important;    
}

.brand-img {
    position: fixed;
    bottom: 15%;
    right: 30px;
    z-index: 1;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.game-menu {
    background: #221e1f;
    padding: 5px;
    border-radius: 20px;
    z-index: 6;
}

.game-howto-con {
    background: #000;
    color: #fff;
}

.game-howto-img {
    width: 280px;
}

.friends-pic-bottom {
    padding: 0;
    /*
    margin-bottom: -10px;
    */
    position: fixed;
    bottom: 0;
    width: 98%;
    z-index:10;
}
.friends-pic-bottom img {
}

.container-fluid {
    overflow-x:hidden;
}

/**
* Wordfind.js 0.0.1
* (c) 2012 Bill, BunKat LLC.
* Wordfind is freely distributable under the MIT license.
* For all details and documentation:
*     http://github.com/bunkat/wordfind
*/

/**
* Styles for the puzzle
*/
.puzzle {
  padding: 10px 0;
  min-width: 360px;
  /*
  border: 1px solid black;
  float: left;
  margin: 10px 20px;
  */
}

.puzzle div {
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
.puzzle .puzzleSquare {
  height: 36px;
  width: 36px;
  text-transform: uppercase;
  background-color: white;
  border: 0;
  /*font: 1em sans-serif;*/
  font-size: 19px;
  border-radius: 2px;
  margin: 1px;
  font-weight: bolder !important;
}

button:focus {outline:0 !important;}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
.puzzle .selected {
  background-color: orange;
}

/*
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
*/

.puzzle .selection-starts {
  background-color: green !important;
  color: #fff !important;
  /*
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
  */
}

.puzzle .selection-ends {
  background-color: blue;
}

/* indicates that the square is part of a word that has been found */ 
.puzzle .found {
  background-color: #d0eb6a;
  color: #000;
  border-radius: 2px;
}

.puzzle .solved {
  background-color: purple;
  color: white;
}

/* indicates that all words have been found */
.puzzle .complete {
  background-color: green;
}

/**
* Styles for the word list
*/
.words {
  /*
  padding: 10px 0;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  width: 300px;
  */
  background: #d0eb6a;
  color: white;
  border-radius: 2px;
  opacity: 0.9;
  top: 200px;
  right: 20px;
  min-height: 160px;
}

.words ul {
  list-style-type: none;
  padding: 20px 20px 5px 20px;
  width: 200px;
  width: 100%;
  margin: 0 auto;
}

.words li {
  padding: 3px 0;
  /* font: 1em sans-serif; */
  text-transform: uppercase;
  color: #000;
  width: 50%;
  float: left;
}

/* indicates that the word has been found */
.words .wordFound {
  text-decoration: line-through;
  color: #070805;
}

/* redefinig bootstrap clases */
.jumbotron{
  margin-bottom: 0;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .puzzle {
     min-width: 306px;
    }
    .center-pills li a {
        padding: 5px;
        font-size: 10px;
    }
    
    .brand-img { height: 36%; }
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .puzzle .puzzleSquare {
        font-weight: bolder !important;
    }

    .center-pills li a {
        padding: 5px;
        font-size: 12px;
    }

    .brand-img { height: 36%; }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .puzzle .puzzleSquare {
        font-weight: bolder !important;
        height: 44px;
        width: 44px;
    }
  
    .wf-menu-side{
      width: 600px;
    }
  
    .wf-menu-side li{
      width: 145px;
    }
  
    .words{
      position: fixed;
      width: 200px;
    }
    .words li{
      width: 100%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .puzzle .puzzleSquare {
        font-weight: bolder !important;
        height: 44px;
        width: 44px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
