<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Wordfind Puzzle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sopaDeLetrasApp"> 
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- 
    - Top Menu
    - How to play modal
    - Play: 2 clicks
     -->
    <div class="container-fluid">
      <div class="header row">
        <div style="margin-top: 50px;">
            <ul class="nav wf-menu-side">
              <li class="active"><a href="" ng-click="start()">{{menu.playOrRestart}}</a></li>
              <li class="active"><a href="" ng-click="togglewords()">{{menu.toggleWords}}</a></li>
              <li class="active"><a href="" data-toggle="modal" data-target="#howtoplayModal">{{menu.howToPlay}}</a></li>
              <li class="active"><a href="" ng-click="solve()">{{menu.resolveIt}}</a></li>
            </ul>
        </div>
      </div>

      <div class="row" style="margin-top: 70px;" ng-view=""></div>

      <!--
      <div class="row">
        <ul class="nav wf-menu-side">
          <li class="active"><a href="" ng-click="start()">{{menu.playOrRestart}}</a></li>
          <li class="active"><a href="" ng-click="togglewords()">{{menu.toggleWords}}</a></li>
          <li class="active"><a href="" data-toggle="modal" data-target="#howtoplayModal">{{menu.howToPlay}}</a></li>
          <li class="active"><a href="" ng-click="solve()">{{menu.resolveIt}}</a></li>
        </ul>
      </div>
      -->

      <!--
      <div class="row">
        <div style="text-align: center;" class="col-sm-12 friends-pic-bottom">
            <img src="./images/characters.png" alt="friends" class="img-responsive" style="display: inline-block;" />
        </div>
      </div>

      <div class="row">
        <img src="./images/friends.png" alt="friends" class="img-responsive brand-img" />
      </div>
      -->


    <div class="modal fade" id="howtoplayModal" tabindex="-1" role="dialog" aria-labelledby="howtoplayModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="howtoplayModalLabel">{{menu.modalHowTo.title}}</h4>
      </div>
      <div class="modal-body game-howto-con">
        <p style="text-align:center;">
        {{menu.modalHowTo.explainTop}}
        <br />
        <img src="./images/how-to-play.gif" alt="how to" class="game-howto-img" />
        <br />
        {{menu.modalHowTo.explainBottom}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{menu.modalHowTo.closeButton}}</button>
      </div>
    </div>
  </div>

    </div>  <!-- end 2nd cf -->
      
    <div class="modal fade" id="playAgainModal" tabindex="-1" role="dialog" aria-labelledby="playAgainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="playAgainModalLabel">{{menu.modalPlayAgain.title}}</h4>
      </div>
      <div class="modal-body game-howto-con">
        <p style="text-align:center;">{{menu.modalPlayAgain.explainTop}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{menu.modalPlayAgain.closeButton}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="start()">{{menu.modalPlayAgain.okButton}}</button>
      </div>
    </div>
  </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
        <!-- prevent settings minification -->
        <script src="config/settings.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/wordfind.js"></script>
        <script src="scripts/wordfindgame.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/directives/wordfinder.js"></script>
        <!-- endbuild -->
</body>
</html>
