<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Sopa de Letras</h3>
        <div class="puzzle"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Palabras</h3>
        <div class="words"></div>
        <a class="btn btn-default btn-sm" style="padding: 10px 20px;font-size: 16px;" ng-click="solve()">Resolver</a>
        <a class="btn btn-default btn-sm" style="padding: 10px 20px;font-size: 16px;" ng-click="start()">Reiniciar</a>
    </div>
</div>
<div class="row">
    <p style="text-align:center;color:#888;font-size:12px;"><span class="glyphicon glyphicon-heart"></span> @cortezcristian</p>
</div>
